<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	<!-- shiro权限控制过滤器bean -->
	<bean id="shiroSecurityFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- shiro 的核心安全接口 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接 -->
		<property name="loginUrl" value="/login.jsp" />
		<!-- 登陆成功后要跳转的连接 -->
		<property name="successUrl" value="/index.jsp" />
		<!-- 未授权时要跳转的连接 -->
		<property name="unauthorizedUrl" value="/unauthorized.jsp" />
		<!-- shiro 连接约束配置 -->
		<property name="filterChainDefinitions">
			<value>
				/css/** = anon
				/images/** = anon
				/demo/** = anon
				/js/** = anon
				/json/** = anon
				/validatecode.jsp = anon
				/login.jsp = anon
				/user/user_checkcode = anon
				/user/user_login = anon
				/user/user_login = anon
				/demo** = anon
				/page_base_** = roles["base"]
				/page_qupai_** = roles["qupai","ywy"]
				/** = authc
			</value>
		</property>
	</bean>
	<!-- 注册自定义realm -->
	<bean id="bosRealm" class="com.airyisea.bos.realm.BosRealm">
		<!-- 添加MD5加密 -->
		<property name="credentialsMatcher">
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<property name="hashAlgorithmName" value="md5"></property>
			</bean>
		</property>
		<!-- 添加二级缓存 -->
		<property name="authorizationCacheName" value="shiro"></property>
	</bean>
	<!-- shiro安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 注入Realm连接安全数据 -->
		<property name="realm" ref="bosRealm"></property>
		<!-- 注入缓存控制器 -->
		<property name="cacheManager" ref="shiroCacheManager"></property>
	</bean>
	<!--开启注解的权限控制  -->
	<!-- spring bean 对象后处理器  -->
	<bean id="lifecycleBeanPostProcessor"
		class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	<!-- 切面自动代理 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true"></property>
	</bean>
	<!-- 切面 -->
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		 <property name="securityManager" ref="securityManager"/>
	</bean>
	<!-- 注册shiro的缓存控制器 -->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
         <!-- 注入ehcache的缓存控制器，在依赖的模块中已经进行了注册 -->
         <property name="cacheManager" ref="ehcacheManager"></property>
    </bean>
    
</beans>
